*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}

.header{
    padding:20px 0;
    text-align: center;
    color:orangered;
    height:20px;
    width:20%;
}

.footer{
    text-align: center;
    box-sizing:border-box;
}
